body{
  margin: 0;
  padding: 0;
  background:  #A31700;
}

.bottom_image{
  margin: auto;
  padding: auto;
  width: 50px;

}

.center{
  display: block;
  margin: auto;

}

.right-side{
  margin: auto;
  text-align: right;
}

#boxDead{
  margin-top: 125px;
  width: 500px;
  height: auto;
}
#submit{
  margin-top: 15px;
  width: 80px;
}

#linkerOfHell{

  margin-top: 500;

}

#postText{
  text-align:center;

}
